body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribui o conteúdo verticalmente */
    height: 100%;
    /* Garante que todos os cards tenham a mesma altura */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Mantém o conteúdo alinhado no card */
    flex-grow: 1;
    /* Faz com que o conteúdo ocupe o espaço necessário */
}